openapi: 3.2.0
info:
  title: JarvisLabs GPU Types API
  description: REST modeling of the JarvisLabs.ai GPU cloud instance-management surface that is wrapped by the jarvislabs Python SDK, the jl CLI, and the legacy jlclient library.
  termsOfService: https://jarvislabs.ai/terms
  contact:
    name: JarvisLabs Support
    url: https://docs.jarvislabs.ai
  version: '1.0'
servers:
- url: https://api.jarvislabs.ai/v1
  description: JarvisLabs API (base modeled; authoritative access is via the jarvislabs SDK / jl CLI)
security:
- ApiKeyAuth: []
tags:
- name: GPU Types
  description: GPU type discovery, availability, and pricing.
paths:
  /gpus:
    get:
      operationId: listGpuTypes
      tags:
      - GPU Types
      summary: List GPU types
      description: Lists available GPU types with real-time availability, region, VRAM, RAM, vCPU count, and per-GPU-hour pricing. Equivalent to `jl gpus`.
      responses:
        '200':
          description: A list of GPU types.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GpuType'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message.
        code:
          type: string
          description: Machine-readable error code.
    GpuType:
      type: object
      properties:
        name:
          type: string
          description: GPU model name (e.g. H100, A100).
        vram_gb:
          type: integer
          description: GPU memory in GB.
        ram_gb:
          type: integer
          description: System RAM in GB per GPU.
        num_cpus:
          type: integer
          description: vCPUs per GPU.
        region:
          type: string
        available:
          type: boolean
          description: Real-time availability.
        price_per_hour:
          type: number
          format: float
          description: Per-GPU-hour price in USD.
  responses:
    Unauthorized:
      description: Missing or invalid API token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API token generated at https://jarvislabs.ai/settings/api-keys. In the SDK this is set via jarvisclient.token; the CLI stores it via `jl setup`.
